@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string,
$search,
$replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string,
        1,
        $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)),
        $search,
        $replace);
    }
    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name,
$path,
$weight: null,
$style: null,
$exts: eot woff2 woff ttf svg) {
    $src: null;
    $extmods: (eot: "?", svg: "#"+ str-replace($name, " ", "_"));
    $formats: (otf: "opentype", ttf: "truetype");
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@include font-face("Bushcraft",
"../fonts/textured2",
"",
"",
"otf");
@include font-face("one shadow",
"../fonts/one shadow",
"",
"",
"otf");
@include font-face("Gill Sans",
"../fonts/Gill Sans",
"",
"",
"otf");
@include font-face("Gill-medium",
"../fonts/Gill Sans Medium",
"",
"",
"otf");
@include font-face("D-DIN",
"../fonts/D-DINCondensed",
"",
"",
"otf");