/**** footer styles ****/

footer {
    background: $bg1;
    color: #fff;
    .container {
        max-width: 710px;
        position: relative;
        &.top-container {
            .col-lg-6 {
                padding-top: 20px;
                padding-bottom: 46px;
                &:first-child {
                    border-right: 2px solid #fff;
                    padding-right: 25px;
                }
                &:last-child {
                    border-left: 2px solid #fff;
                    padding-left: 25px;
                }
            }
        }
    }
    .contact-btns {
        width: 100%;
        max-width: 50px
    }
    .absolute-img {
        position: absolute;
        bottom: 0px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        left: 0;
        @media(min-width: 992px) {
            bottom: -2px
        }
    }
    p {
        font-size: 11px;
        color: #ffffff;
        font-family: "Gill Sans";
        text-align: center;
        margin-bottom: 0;
    }
    h3 {
        font-size: 19px;
        line-height: 17px;
        color: #ffffff;
        font-family: "Bushcraft";
        text-align: center;
    }
    .flower-img {
        margin-bottom: -160px;
    }
    .insta-id {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
    }
    .copyright {
        background: $title-color;
        padding-top: 20px;
        padding-bottom: 15px;
        img {
            max-width: 200px;
        }
    }
    &.inner-footer {
        background: $blue;
        margin-top: 40px;
        .copyright {
            background: $blue;
            z-index: 3;
            position: relative;
        }
        .absolute-img {
            top: -30px;
            img {
                width: 100%;
                max-width: 601px;
            }
        }
    }
}