/**** start site general styles *****/

body {
    font-family: "Gill Sans";
}

.container {
    max-width: 1200px
}

img {
    max-width: 100%;
}

a {
    transition: color 250ms ease;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    line-height: 36px;
    color: $head-color;
    font-family: "Bushcraft", "one shadow";
    text-align: center;
}

.title {
    font-size: 24px;
    line-height: 22px;
    color: $title-color;
    font-family: "Bushcraft", "one shadow";
    text-align: center;
}